<header class="site-header sticky-top">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <!--img src="../assets/img/logo.png" width="32px" height="32px" alt="MDS" /-->
      <a class="navbar-brand mx-md-3" routerLink="/inicio" routerLinkActive="active">MDS Front</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!--li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="!logged" >Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLink="/logout" routerLinkActive="active" *ngIf="logged" >Salir</a>
          </li-->
        </ul>
      </div>
    </div>
  </nav>
</header>
