<footer class="container-fluid py-5 px-5">
  <hr class="my-4">
  <div class="row">
    <div class="col-8 col-md">
    </div>
    <div class="col-6 col-md">
      <h5>Hiperautomatizacion</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Juntos creamos el futuo</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Contacto</h5>
      <ul class="list-unstyled text-small">
        <li><a href="mailto:gabriela.ortizs@elektra.com.mx">gabriela.ortizs@elektra.com.mx</a></li>
        <li><p class="text-start lh-sm">
            Whatsapp +52 5549768505
        </p></li>
      </ul>
    </div>
  </div>
</footer>
